.github/**
.vscode/**
.vscode-test/**
coverage/**
tests/**
out/**
node_modules/**
src/**

.gitignore
.vscode-test.*
esbuild.js
eslint.config.mjs
mermaid.mmd
tsconfig.json
tsconfig.api.json
**/*.map
**/*.ts